.section-partition{
	height: 90vh;
	border-left: solid grey 1px;
	border-color: #009687;
	padding: 0px !important; 
}

#four-body{
	visibility: hidden;
}
.logo-text {
  font-family: 'Dancing Script', cursive;
}
.app-header-text{
	font-weight: bolder;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
	background-color: #009688;
	color: white;
	border-bottom: solid 1px teal;

}

.subject-list-item{
	list-style-type: none;
	color:;
	font-weight: bold;
}
.container-list{
	padding-top: 5px;
}
