// Variables
@import "variables";

body{
    font-size: 14px;
}

.col.full-height{
    min-height: 100vh;
}

.no-margin{
    margin: 0;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.no-margin-top{
    margin-top: 0;
}

.v-align{
    display: flex;
    align-items: center;
}

.logo-text{
    font-family: 'Dancing Script', cursive;
}


.spacer{
    height: 20px;
}

.transparent-color{
    background: transparent !important;
}

.no-border{
    border: none;
}


/**
    Navigation
*/

.nav-link-collection{
    color:#fff;
    .nav-link{
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 3px;
        border-radius: 3px;
        .title{
            line-height: 26px;
        }
    }
    .nav-link:hover{
        background:#1382D9;
    }
    .nav-link:active{
        background:#065594;
    }
    .nav-link.active{
        background: #0563ad;
    }
}